EXPO_PUBLIC_API_URL=http://192.168.1.20:5000
EXPO_PUBLIC_STRIPE_KEY=pk_test_your_publishable_key
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=shared_development_key
# Recommended for restricted production keys:
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=android_restricted_key
EXPO_PUBLIC_GOOGLE_MAPS_IOS_KEY=ios_restricted_key
